@model IEnumerable<ViewOrderRequestModel>
<!doctype html>

      <html>
@{
    Layout="~/Views/Shared/_AdministratorLayout.cshtml";
    ViewData["Title"]= "Admin";
}
    <head>
        <style>
          body{
              background-color: green;
          }
        </style>
    </head>
    <body>
        <table>
       <thead>
           <th>
              <table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model=> model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model=> model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model=> model.DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model=> model.TreatsContainedInOrder)
            </th>
              <td>
                VIew Full Details
            </td>
            <td>
                Update Details
            </td>
        </tr>
    </thead>
    <tbody>
     @foreach (var order in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => order.CustomerName)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => order.OrderDate)
                </td>
                  <td>
                    @Html.DisplayFor(modelItem => order.DeliveryDate)
                </td>
                  <td>
                    @Html.DisplayFor(modelItem => order.TreatsContainedInOrder)
                </td> 
                <td>
                     <button style= "background-color:White" ><a  asp-action= "GetOrder"asp-route-id="@order.Id"><b>View Full Detail </b></a> </button>
                </td>
             </tr>
        }
           </th>
       </tbody>
       </table>  
    </body>
</html>